// compileExpanded: ../css/index.css


body{
		text-align: center;
		background-image: url("../pic/felt.jpg");
		margin: 0;
		flex-direction: column;
	  justify-content: space-between;
}


.title {
	color: silver;
	border: 2px solid black;
}

.money {
	color: pink;
}

.card {
//	height: 250px;
border-radius: 20px;

animation: cardMove .5s linear; /* IE 10+, Fx 29+ */

}

@keyframes cardMove
{
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

#betC {
    border: 1px solid black;
		background: linear-gradient(red, yellow);
}

textarea {
	border: 1px solid black;
//	background: linear-gradient(black, silver);
	background: black;
	color: pink;
}

button {
	&:hover {
		background: linear-gradient(black, silver);
	}
}
